<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <p>Stats for {short_code}</p>
        <p><strong>Original:</strong> {{ link.url }}</p>
        <p><strong>Short URL:</strong> <a href="{{ short_url }}">{{ short_url }}</a></p>
        <p><strong>Clicks:</strong> {{ link.clicks }}</p>
        <p><strong>Created:</strong> {{ link.created_at }}</p>
        <a href="/">← New Short Link</a>
        <script src="" async defer></script>
    </body>
</html>